# developer ports
DUWOP_DNS_PORT=9253
DUWOP_HTTP_PORT=9280
DUWOP_MANAGEMENT_PORT=9254

# developer data directory
DUWOP_APP_STATE_DIR=/path/to/repository/root/devdata/

# (Undocumented) custom log level. Affects only server (duwop). Comment out to
# run on default level during development.
DUWOP_LOG_LEVEL="duwop=trace,tokio=warn"